body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: basis-grotesque-off-white-pro, 'Basis Grotesque Pro',
    -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Open Sans', sans-serif;
  font-weight: 400;
}

html {
  --gray: #8e8e8e;
  --text-black: #2e2e2e;
  color: var(--text-black);
}

body,
html {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--gray);
  transition: color 0.3s ease;
}

a:hover {
  color: inherit;
}
