a,
section {
  box-sizing: border-box
}

body,
ul {
  padding: 0;
  margin: 0
}

#projects div,
.about-grid {
  height: fit-content
}

html {
  font-family: Lemur, monospace;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  background: #EAEAEA;
  color: #353435
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  min-height: calc(100vh - 3.4rem);
  padding: 1.125rem 1rem
}

.col-1 {
  grid-column-end: span 1
}

.col-2 {
  grid-column-end: span 2
}

.col-3 {
  grid-column-end: span 3
}

.col-4 {
  grid-column-end: span 4
}

.col-5 {
  grid-column-end: span 5
}

.col-6 {
  grid-column-end: span 6
}

.col-7 {
  grid-column-end: span 7
}

.col-8 {
  grid-column-end: span 8
}

.col-9 {
  grid-column-end: span 9
}

.col-10 {
  grid-column-end: span 10
}

.col-11 {
  grid-column-end: span 11
}

.col-12 {
  grid-column-end: span 12
}

.row-off-1 {
  grid-column-start: 2
}

.row-off-2 {
  grid-column-start: 3
}

.row-off-3 {
  grid-column-start: 4
}

.row-off-4 {
  grid-column-start: 5
}

.off-1 {
  grid-column-start: 2
}

.off-2 {
  grid-column-start: 3
}

.off-3 {
  grid-column-start: 4
}

.off-4 {
  grid-column-start: 5
}

.off-5 {
  grid-column-start: 6
}

.off-6 {
  grid-column-start: 7
}

.off-7 {
  grid-column-start: 8
}

.off-8 {
  grid-column-start: 9
}

.off-9 {
  grid-column-start: 10
}

.off-10 {
  grid-column-start: 11
}

.off-11 {
  grid-column-start: 12
}

@media screen and (max-width:1000px) {
  section {
    grid-template-columns: repeat(8, 1fr)
  }
  .col-md-1 {
    grid-column-end: span 1
  }
  .col-md-2 {
    grid-column-end: span 2
  }
  .col-md-3 {
    grid-column-end: span 3
  }
  .col-md-4 {
    grid-column-end: span 4
  }
  .col-md-5 {
    grid-column-end: span 5
  }
  .col-md-6 {
    grid-column-end: span 6
  }
  .col-md-7 {
    grid-column-end: span 7
  }
  .col-md-8 {
    grid-column-end: span 8
  }
  .off-md-0 {
    grid-column-start: 1
  }
  .off-md-1 {
    grid-column-start: 2
  }
  .off-md-2 {
    grid-column-start: 3
  }
  .off-md-3 {
    grid-column-start: 4
  }
  .off-md-4 {
    grid-column-start: 5
  }
  .off-md-5 {
    grid-column-start: 6
  }
  .off-md-6 {
    grid-column-start: 7
  }
  .off-md-7 {
    grid-column-start: 8
  }
  .off-md-8 {
    grid-column-start: 9
  }
}

@media screen and (max-width:770px) {
  section {
    grid-template-columns: repeat(4, 1fr)
  }
  .col-sm-1 {
    grid-column-end: span 1
  }
  .col-sm-2 {
    grid-column-end: span 2
  }
  .col-sm-3 {
    grid-column-end: span 3
  }
  .col-sm-4 {
    grid-column-end: span 4
  }
  .off-sm-0 {
    grid-column-start: 1
  }
  .off-sm-1 {
    grid-column-start: 2
  }
  .off-sm-2 {
    grid-column-start: 3
  }
  .off-sm-3 {
    grid-column-start: 4
  }
  .off-sm-4 {
    grid-column-start: 5
  }
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0
}

h1 {
  font-weight: inherit;
  font-size: 1.25rem;
  line-height: 1.4rem;
  margin-bottom: 1rem
}

a {
  color: inherit;
  background: rgba(255, 255, 255, .5);
  text-decoration: none;
  padding: 0 .3em;
  border-bottom: .15em solid rgba(255, 255, 255, .5);
  transition: background .3s ease;
  margin-right: .15em
}

a:hover {
  background: rgba(255, 255, 255, 1)
}

#focusedProject a {
  background: rgba(234, 234, 234, .5);
  border-bottom: .15em solid rgba(234, 234, 234, .75)
}

#focusedProject a:hover {
  background: rgba(234, 234, 234, 1)
}

a:hover,
button:hover,
nav:hover {
  cursor: pointer
}

ul {
  list-style: none
}

#about {
  position: -webkit-sticky;
  position: sticky;
  top: 0
}

nav {
  transition: all .15s ease
}

.scrolled {
  transform: translateY(-3.4rem)
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-column-gap: 20px;
  margin-top: 3.4rem;
  transition: opacity .5s ease;
}

#about p:not(.heading),
.content li,
.content p {
  margin-left: 2em;
  text-indent: -2em;
  line-height: 1.4;
}

.heading {
  color: #E6274B
}

.label,
.p-wrap p:not(:last-child) {
  margin-bottom: 0.25em;
}

.p-wrap p~p {
  margin-top: 0
}

.whoami {
  margin-top: 2.4rem
}

#about .whoami p {
  margin-left: 0;
  text-indent: 0;
}

#projects {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 3.4rem;
}

#projectsNav {
  width: 200%
}

#projectsNav.isActive h1 span:nth-child(2) {
  display: inline-block;
  transform-origin: 50% 55%;
  transition: all .2s ease
}

#projectsNav.isActive h1:hover span:nth-child(2) {
  transform: rotate(-180deg)
}

#projectsNav.isActive h1:after,
#projectsNav.isActive h1:before {
  display: inline-block;
  position: absolute;
  margin-left: .5rem;
  transition: .2s all ease
}

.isActive h1:after {
  content: attr(projectName);
  text-decoration: underline
}

.isActive h1:before {
  content: "Return to Index";
  transform: translateX(6.25rem) translateY(.75rem);
  opacity: 0
}

.isActive:hover h1:after {
  transform: translateY(-.75rem);
  opacity: 0
}

.isActive:hover h1:before {
  transform: translateX(6.25rem);
  opacity: 1
}

h1 span:nth-of-type(2) {
  margin: 0 .25rem
}

#projects .content {
  margin-top: 3rem;
  transition: opacity .3s ease
}

#projects li:hover {
  text-decoration: underline;
  cursor: pointer
}

#focusedProject {
  margin-top: calc(7rem - 100vh);
  min-height: 0;
  height: calc(100vh - 7rem);
  transition: opacity .3s ease;
  opacity: 1;
  overflow-y: scroll;
  position: absolute;
}

#focusedProject.inactive {
  opacity: 0;
  height: 0;
}

.content.inactive {
  opacity: 0
}

button {
  border: none;
  background: none;
  padding: 0;
  margin: 1em;
  display: inline-block;
}

button:active,
button:hover,
button:target,
button:enabled {
  outline: none;
}

#viewSelect {
  position: fixed;
  bottom: 0;
  right: 10px;
}

#viewSelect button {
  height: 2.441em;
  width: 2.441em;
}

#viewSelect button img {
  width: 100%;
}

@media screen and (min-width:770px) {
  .proj-info {
    font-size: .8rem;
    line-height: 1.125rem
  }
  #viewSelect {
    bottom: 10px;
  }
}

.proj-info {
  min-height: unset;
}

.proj-info .heading {
  margin-bottom: .4rem
}

.proj-vis {
  overflow-y: scroll;
  min-height: unset;
  max-height: unset;
  justify-items: center;
}

#focusedProject::-webkit-scrollbar,
.proj-info::-webkit-scrollbar,
.proj-vis::-webkit-scrollbar {
  display: none
}

.proj-vis img,
.proj-vis video {
  width: 100%;
  height: auto;
  margin-bottom: 8rem;
  grid-column-end: span 3;
}

.proj-vis img:hover,
.proj-vis video:hover {
  cursor: url('../img/plus.svg');
  cursor: -webkit-image-set( url('../img/plus.png') 1x, url('../img/plus@2x.png') 2x), pointer;
}

.lg-view .proj-vis img,
.lg-view .proj-vis video {
  width: auto;
  max-width: 100%;
  max-height: 68vh;
  grid-column-end: span 12;
}

@media screen and (max-width: 1000px) {
  .proj-vis img,
  .proj-vis video {
    grid-column-end: span 4;
  }
  .lg-view .proj-vis img,
  .lg-view .proj-vis video {
    grid-column-end: span 8;
  }
}

@media screen and (max-width:770px) {
  #projects .content,
  .about-grid,
  .proj-info {
    margin-top: 0
  }
  html {
    font-size: 16px
  }
  .scrolled {
    transform: translateY(0)
  }
  #projects {
    grid-template-rows: 1.4rem auto
  }
  #brief,
  #client,
  #time,
  .label.brief,
  .label.client,
  .label.time {
    display: none
  }
  #focusedProject .proj-info>div * {
    margin: 0;
  }
  .proj-vis img,
  .proj-vis video {
    grid-column-end: span 2;
  }
  .lg-view .proj-vis img,
  .lg-view .proj-vis video {
    grid-column-end: span 4;
  }
}

.lightboxed {
  overflow: hidden;
}

#lightbox {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  padding: 20px;
  background: white;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lightbox:hover {
  cursor: url('../img/minus.svg');
  cursor: -webkit-image-set( url('../img/minus.png') 1x, url('../img/minus@2x.png') 2x), pointer;
}

#lightbox img,
#lightbox video {
  max-width: 100%;
  max-height: 100%;
  background: white;
}

#fun {
  position: fixed;
  left: 40vw;
  top: 40vh;
  width: 60vw;
  height: 60vh;
  padding: 3.814em;
  box-sizing: border-box;
  background-clip: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
  transition: opacity .5s ease;
}

.about-grid:hover~aside#fun {
  opacity: 0 !important;
}

.about-grid:hover {
  opacity: 1 !important;
}
