body,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Basis Grotesque Pro', -apple-system, BlinkMacSystemFont, Roboto,
    'Open Sans', 'Helvetica Neue', sans-serif;
  /* font-size: calc(49em / 16); */
  font-size: 49px;
  color: #2e2e2e;
  font-weight: 300;
}

body,
html {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #8e8e8e;
  transition: color 0.3s ease;
}

a:hover {
  color: inherit;
}
